.header {
  z-index: 50;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.25s;
}

.header-logo {
  margin-left: 1rem;
}

.header #light-logo {
  width: 160px;
}

.header #dark-logo {
  display: none;
  width: 102px;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  background: none;
  transition: all 0.25s ease;
  text-transform: uppercase;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
  transform: scale(1);
}

.header .button-container {
  display: flex;
  gap: 0.5rem;
  margin-right: 2rem;
}

.header .button-container button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.header .button-container button:active {
  background-color: #dedede;
}

.header .button-container button svg {
  color: #ffffff;
}

/** Sticky header transition effects on scroll */

.sticky-header {
  background-color: #ffffff;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  position: fixed;
}

.sticky-header #dark-logo {
  display: block;
}

.sticky-header #light-logo {
  display: none;
}

.sticky-header nav ul li {
  color: #000000;
}

.sticky-header nav ul li a::after {
  background-color: #aa1e33;
}

.sticky-header .button-container button svg {
  color: #aa1e33;
}

.sticky-header .button-container button:active {
  background-color: #e6b3ba;
}
