@import './header.css';
@import './intro-section.css';
@import './what-section.css';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #f5f5f5;
}

h1 {
  font-size: 56px;
  font-family: 'Archivo Black', sans-serif;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 20px;
}

nav ul li {
  font-weight: bold;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}

a:visited {
  color: inherit;
}
