@import './header.css';
@import './intro-section.css';
@import './what-section.css';
@import './why-section.css';
@import './who-section.css';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #f5f5f5;
  text-align: center;
}

h1 {
  font-size: 56px;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
}
h3 {
  font-size: 26px;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
}
h5 {
  font-size: 18px;
  text-transform: uppercase;
}
p {
  font-size: 20px;
}

nav ul li {
  font-weight: bold;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}

a:visited {
  color: inherit;
}

.period {
  color: #000000;
  font-weight: bold;
}
