.what-container {
  overflow: hidden;
  background-color: #fafafa;
  padding: 64px 0;
}

.what-container svg {
  color: #aa1e33;
}

.what-container .icon-container {
  display: flex;
  justify-content: space-evenly;
}

.what-container .position-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.what-container .recruit-note {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 100;
}

.what-container hr {
  margin: 2rem;
}

.what-container h1,
.what-container h5,
.what-container p {
  color: #424244;
}

.what-container h1,
.what-container h4,
.what-container h5 {
  text-transform: uppercase;
}

.what-container h1,
.what-container h4,
.what-container h5,
.what-container p {
  text-align: center;
}

.what-container h4 {
  color: #aa1e33;
  letter-spacing: 2px;
}
