mat-toolbar {
  display: flex;
  justify-content: space-between;

  .header-logo {
    width: 102px;
  }

  mat-nav-list {
    display: flex;

    a {
      background: none;
      transition: all 0.25s ease;
      text-transform: uppercase;
    }

    a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #aa1e33;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }

    a::after {
      opacity: 1;
      transform: scale(0);
      transform-origin: center;
    }

    a:hover::after,
    a:focus::after {
      transform: scale(1);
    }
  }

  .button-container {
    display: flex;
    gap: 0.5rem;

    a:visited {
      color: inherit;
    }
  }
}
