.home-container {
  overflow: hidden;
  height: 1000px;

  .overlay {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 30, 51, 0.95);
  }

  img {
    width: 100%;
    animation: expand-image 10s linear;
  }

  .title-container {
    z-index: 10;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 40vw;
    text-transform: uppercase;

    h1 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .slogan-container {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      h4:nth-child(2) {
        color: #000000;
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
      gap: 2rem;

      button {
        width: 198px;
        height: 54px;
      }
    }
  }
}

@keyframes expand-image {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
