.home-container {
  overflow: hidden;
  background-color: #aa1e33;
  opacity: 0.7;
  height: 1000px;
}

img {
  width: 100%;
  animation: expand-image 10s linear;
}

@keyframes expand-image {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
