@import '~@angular/material/theming';
@include mat-core();

$edis-primary-palette: (
  50: #fbebf0,
  100: #f7cdd7,
  200: #e499a3,
  300: #d87280,
  400: #e35164,
  500: #e93e4f,
  600: #d9364c,
  700: #c72d45,
  800: #ba273e,
  900: #aa1e33,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$edis-secondary-palette: (
  50: #ffffff,
  100: #fafafa,
  200: #f5f5f5,
  300: #f0f0f0,
  400: #dedede,
  500: #c2c2c2,
  600: #979797,
  700: #818181,
  800: #606060,
  900: #3c3c3c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$edis-group-primary: mat-palette($edis-primary-palette, 900);
$edis-group-accent: mat-palette($edis-secondary-palette, 50);
$edis-group-warn: mat-palette($mat-red);
$edis-group-theme: mat-light-theme(
  (
    color: (
      primary: $edis-group-primary,
      accent: $edis-group-accent,
      warn: $edis-group-warn
    )
  )
);

@include angular-material-theme($edis-group-theme);
